@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}


@media (prefers-color-scheme: dark) {
  :root {
  /* Colors */
  --primary-color: #F17100;
  --secondary-color: #302f2e;
  --background-color: #f4f4f4;
  --text-color: #333333;
  --link-color: #302f2e;
  --error-color: #e74c3c;
  --foreground-color:#000000;
  --headerbg-color:#FFF5E3;
  --hover-color:#374151;
  --heading-color:black;
  --subheading-color:#2d3748;

  /* Typography */
  --font-family: 'Poppins';
  --font-size-base: 16px;
  --font-size-large: 20px;
  --font-size-small: 14px;
  

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;

  /* Borders */
  --border-radius: 4px;

  /* Shadows */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

body {
  color: var(--foreground-color);
  background: var(--background);
  font-family: var(--font-family);
}

h1,p{
  color: var(--foreground-color);
}

/* Ensuring the page takes up full height */
html, body {
  height: 100%;
  margin: 0;
}

/* This makes the layout fill the entire page */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Ensure the footer stays at the bottom */
footer {
  margin-top: auto;
}
